// 滚动条
/* 整体部分 */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
/* 滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
  margin-right: 5px;
}
/* 滑块效果 */
::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #777;
  opacity: .8;
}

// base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 1.3em;
  margin-bottom: 1em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  &:hover {
    color: @link-hover-color;
    text-decoration: none;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
}

input::-ms-clear { display: none; }
input::-ms-reveal { display: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body, #app, .wrapper {
  width: 100%;
}

.wrapper {
  animation: wrapper--fade .25s cubic-bezier(.455, .03, .515, .955);
  min-height: 100vh;
}

@keyframes wrapper--fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// color

.default-color {
  color: @default-color;
}

.warn-color {
  color: @warn-color;
}

.error-color {
  color: @error-color;
}

.success-color {
  color: @success-color;
}

.disabled-color {
  color: @disabled-color;
}

.default-bg {
  background-color: @default-color;
  color: #fff;
}

.warn-bg {
  background-color: @warn-color;
  color: #fff;
}

.error-bg {
  background-color: @error-color;
  color: #fff;
}

.success-bg {
  background-color: @success-color;
  color: #fff;
}

// 布局
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-float {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// 显隐
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.v-hide {
  visibility: hidden !important;
}

.v-show {
  visibility: visible;
}

.o-hide {
  opacity: 0;
}

.o-show {
  opacity: 1;
}

.show-opacity {
  opacity: 1 !important;
}

.hide-opacity {
  opacity: 0 !important;
}

.inline-div {
  display: inline-block !important;
  margin: 0 8px !important;
}

// 距离， 大小
.mg-r-1 {
  margin-right: 8px;
}

.chart-box {
  height: 300px;
}

// 其他
.a-btn {
  padding: 8px 12px;
  border-radius: 5px;
}

.bold {
  font-weight: 600;
}

.icon {
  padding: 0 8px;
}

.pointer {
  cursor: pointer;
}

// 个性化

// 提示框
.tooltips {
  position: absolute;
  max-width: 200px;
  height: auto;
  font-size: 14px;
  color: #fff;
  text-align: left;
  /* border: 1px solid #999; */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  /* box-shadow: 3px 3px 1px #999; */
  padding: 8px;
  /* display:none; */
  word-wrap: break-word;
  word-break: break-all;
  z-index: 4;
}

// 表单校验
.prop-name--required {
  position: relative;
  padding-left: 8px;
  &:after {
    content: ' *';
    position: absolute;
    left: 0;
    right: 0;
    color: @error-color;
  }
}
.error-border {
  border: 1px solid @error-color;
}
